import React from 'react'; interface
{{pascalCase name}}Props { } const
{{pascalCase name}}
= (): JSX.Element => { return (
<div>
  {{pascalCase name}}
</div>
); }; export default
{{pascalCase name}};